<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EPAWOFService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <applicationSettings>
        <EPAWOFService.Properties.Settings>
            <setting name="SiteCodeQueryFormat" serializeAs="String">
                <value>SELECT * FROM {0} WHERE SiteCode = @siteCode </value>
            </setting>
            <setting name="VariableCodeQueryFormat" serializeAs="String">
                <value>SELECT * FROM {0} WHERE VariableCode = @variableCode </value>
            </setting>
            <setting name="VariableIDQueryFormat" serializeAs="String">
                <value>SELECT * FROM {0} WHERE VariableID = @variableID</value>
            </setting>
            <setting name="getAllQueryFormat" serializeAs="String">
                <value>SELECT  top 50000 * FROM {0}</value>
            </setting>
            <setting name="parameterColumn" serializeAs="String">
                <value>parm_cd</value>
            </setting>
            <setting name="EPAWOFService_Epa_StoretResultsService_StoretResultService"
                serializeAs="String">
                <value>http://ofmpub.epa.gov:80/STORETwebservices/StoretResultService/</value>
            </setting>
        </EPAWOFService.Properties.Settings>
    </applicationSettings>
</configuration>