<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WaterOneFlow.Service.Source.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <applicationSettings>
        <WaterOneFlow.Service.Source.Properties.Settings>
            <setting name="SiteCodeQueryFormat" serializeAs="String">
                <value>SELECT * FROM {0} WHERE SiteCode = @siteCode </value>
            </setting>
            <setting name="VariableCodeQueryFormat" serializeAs="String">
                <value>SELECT * FROM {0} WHERE VariableCode = @variableCode </value>
            </setting>
            <setting name="VariableIDQueryFormat" serializeAs="String">
                <value>SELECT * FROM {0} WHERE VariableID = @variableID </value>
            </setting>
            <setting name="getAllQueryFormat" serializeAs="String">
                <value>SELECT  top 50000 * FROM {0} </value>
            </setting>
            <setting name="valuesQueryFormat" serializeAs="String">
                <value>SELECT * from {0} WHERE
SiteID = @SiteID
AND VariableID = @Variable
</value>
            </setting>
            <setting name="ValuesDateRangeFormat" serializeAs="String">
                <value>DateTime BETWEEN {0} AND {1}</value>
            </setting>
            <setting name="ValuesDateOnlyBeginDateFormat" serializeAs="String">
                <value>DateTime &gt;= {0}</value>
            </setting>
            <setting name="ValuesDateOnlyEndDateFormat" serializeAs="String">
                <value>DateTime &lt;= {0}</value>
            </setting>
        </WaterOneFlow.Service.Source.Properties.Settings>
    </applicationSettings>
</configuration>