<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="elmah-sqlserver" connectionString="Server=disrupter.sdsc.edu;Database=errorLogging;User ID=loggingService;Password=l0gg1ng;Trusted_Connection=False;"
     providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ODDB" connectionString="Data Source=kyle.ucsd.edu;Failover Partner=disrupter.sdsc.edu;Initial Catalog=USGS2014;User=webservice;password=webservice" providerName="System.Data.SqlClient" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <elmah>
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="elmah-sqlserver"
               xdt:Transform="Replace" />
    <security allowRemoteAccess="1"  xdt:Transform="Insert"/>
  </elmah>
</configuration>