/****** Object:  Table [dbo].[siteinfo$]    Script Date: 06/28/2008 16:12:02 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[siteinfo$]') AND type in (N'U'))
DROP TABLE [dbo].[siteinfo$]
GO
/****** Object:  Table [dbo].[siteinfo$]    Script Date: 06/28/2008 16:12:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[siteinfo$]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[siteinfo$](
	[int32ID] [nvarchar](255) NULL,
	[SiteID] [float] NULL,
	[SiteName] [nvarchar](255) NULL,
	[State] [nvarchar](255) NULL,
	[Country] [nvarchar](255) NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
	[Elevation] [float] NULL,
	[BeginDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Valuecount] [float] NULL
) ON [PRIMARY]
END
GO
