<appSettings>
  <add key="network" value="NCDCISD"/>
  <add key="vocabulary" value="NCDCISD"/>
  <add key="contactEmail" value="valentin@sdsc.edu"/>
  <add key="returnUndefinedUTCorLocal" value="Undefined"/>
  <!-- Undefined (Default) - Return no offset, even if a UTC Offset is provided
       Local - Attempt to shift to Local time of server
       UTC - Return UTC Times
       -->
  <add key="GetValuesName" value="USGS  NWIS"/>
  <add key="serviceLevel" value="Production"/>
  <add key="serviceDescriptionPage" value="BasicData.htm"/>
  <add key="asmxPage" value="DailyValues.asmx"/>
  <add key="UseODForInformation" value="true"/>
  <add key="UseODForSeries" value="true"/>
  <add key="UseODForValues" value="true"/>
  <add key="externalGetValuesService" value="http://www7.ncdc.noaa.gov/CUAHSIServices/CUAHSIServices"/>
  <add key="requireAuthToken" value="false"/>
  <add key="defaultSpatialReferenceSystemSRSID" value="4326"/>
  <add key="SRSPrefix" value="EPSG:"/>
  <add key="MinimalSQLDate" value="1753-01-01"/>
  <add key="AdminIPAddress" value="127.0.0.1"/>
  <add key="EncryptConnectionString" value="False"/>
  <add key="clientIPUrl" value="http://www.ippages.com/xml/"/>
  <add key="NCDCISD_EndDateMinYear"  value="2005"/>
  <add key="NCDC_Token"  value="[YOUR TOKEN]"/>
</appSettings>