<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NCDC.RestService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NCDC.RestService.Properties.Settings>
            <setting name="BaseURL" serializeAs="String">
                <value>http://www7.ncdc.noaa.gov/rest/services/</value>
            </setting>
            <setting name="token" serializeAs="String">
                <value>bgFcccciDafJnemlGInn</value>
            </setting>
            <setting name="XmlOutputFormat" serializeAs="String">
                <value>xml</value>
            </setting>
            <setting name="WaterMLOuputFormat" serializeAs="String">
                <value>waterml</value>
            </setting>
            <setting name="csvOuputFormat" serializeAs="String">
                <value>csv</value>
            </setting>
            <setting name="OutputFormatString" serializeAs="String">
                <value>output={0}</value>
            </setting>
            <setting name="TokenFormatString" serializeAs="String">
                <value>token={0}</value>
            </setting>
            <setting name="SitesCountryPath" serializeAs="String">
                <value>sites/{0}/countryAbbrev/{1}/</value>
            </setting>
            <setting name="SitesStatePath" serializeAs="String">
                <value>sites/{0}/stateAbbrev/{1}/</value>
            </setting>
            <setting name="SiteInfoPath" serializeAs="String">
                <value>siteinfo/{0}/{1}/</value>
            </setting>
            <setting name="SitesGetAllPath" serializeAs="String">
                <value>sites/{0}/</value>
            </setting>
        </NCDC.RestService.Properties.Settings>
    </applicationSettings>
</configuration>