<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WaterOneFlow.GenericDB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <applicationSettings>
      <WaterOneFlow.GenericDB.Properties.Settings>
        <setting name="VariableCodeQueryFormat" serializeAs="String">
          <value>SELECT * FROM {0} WHERE VariableCode = @variableCode </value>
        </setting>
        <setting name="VariableIDQueryFormat" serializeAs="String">
          <value>SELECT * FROM {0} WHERE VariableID = @variableID</value>
        </setting>
        <setting name="getAllQueryFormat" serializeAs="String">
          <value>SELECT  top 50000 * FROM {0}</value>
        </setting>
        <setting name="parameterColumn" serializeAs="String">
          <value>parm_cd</value>
        </setting>
        <setting name="SiteCodeQueryFormat" serializeAs="String">
          <value>SELECT * FROM {0} WHERE SiteCode = @siteCode</value>
        </setting>
        <setting name="WOFGenericDB_edu_sdsc_river_WaterOneFlow" serializeAs="String">
          <value>http://water.sdsc.edu/wateroneflow/EPA/cuahsi_1_0.asmx</value>
        </setting>
      </WaterOneFlow.GenericDB.Properties.Settings>
    
  </applicationSettings>
</configuration>