<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NwisWOFService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <applicationSettings>
        <NwisWOFService.Properties.Settings>
            <setting name="SiteCodeQueryFormat" serializeAs="String">
                <value>SELECT * FROM {0} WHERE SiteCode = @siteCode AND usgs_agency = @agency</value>
            </setting>
            <setting name="VariableCodeQueryFormat" serializeAs="String">
                <value>SELECT * FROM {0} WHERE VariableCode = @variableCode </value>
            </setting>
            <setting name="VariableIDQueryFormat" serializeAs="String">
                <value>SELECT * FROM {0} WHERE VariableID = @variableID</value>
            </setting>
            <setting name="getAllQueryFormat" serializeAs="String">
                <value>SELECT  top 50000 * FROM {0}</value>
            </setting>
            <setting name="parameterColumn" serializeAs="String">
                <value>parm_cd</value>
            </setting>
            <setting name="UVDaysAvailable" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="NwisWOFService_gov_usgs_er_nwisvaws02_GetWSService"
                serializeAs="String">
                <value>http://waterservices.usgs.gov/nwis/iv</value>
            </setting>
            <setting name="NwisWOFService_gov_usgs_waterservices_unitvalues_WaterOneFlow"
                serializeAs="String">
                <value>http://waterservices.usgs.gov:80/WaterMLService/WaterOneFlow</value>
            </setting>
            <setting name="xsltV11toV10" serializeAs="String">
                <value>usgs_v11toV10.xslt</value>
            </setting>
        </NwisWOFService.Properties.Settings>
    </applicationSettings>
</configuration>