<connectionStrings   >
  <add name="ODDB" connectionString="Data Source=kyle.ucsd.edu;Initial Catalog=storet2012;User=webservice;password=webservice" providerName="System.Data.SqlClient"/>
 <!-- 
  <add name="ODDB" connectionString="Data Source=disrupter.sdsc.edu;Initial Catalog=storet;User=webservice;password=webservice" providerName="System.Data.SqlClient"/>
 <add name="ODDB" connectionString="Data Source=localhost;Initial Catalog=EPACATALOG;trusted_connection=true" providerName="System.Data.SqlClient"/>
 -->
 <!--     <add name="ODDB" connectionString="Data Source=moonstone.sdsc.edu;Initial Catalog=od_1_0;User=webservice;password=webservice"
    providerName="System.Data.SqlClient" />--> 
  <add name="elmah-sqlserver" connectionString="Data Source=disrupter.sdsc.edu;User ID=loggingservice;Password=l0gg1ng;Initial Catalog=ErrorLogging;" providerName="System.Data.SqlClient" />

</connectionStrings>