<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>

  </configSections>
  <appSettings>
    <add key="network" value="EPA" />
    <add key="vocabulary" value="EPA" />
    <add key="contactEmail" value="me@example.com" />
    <add key="returnUndefinedUTCorLocal" value="Undefined" />
    <!-- Undefined (Default) - Return no offset, even if a UTC Offset is provided
       Local - Attempt to shift to Local time of server
       UTC - Return UTC Times
       -->
    <add key="GetValuesName" value="EPA" />
    <add key="serviceLevel" value="Production" />
    <add key="serviceDescriptionPage" value="BasicData.htm" />
    <add key="asmxPage" value="DailyValues.asmx" />
    <add key="UseODForInformation" value="true" />
    <add key="UseODForSeries" value="true" />
    <add key="UseODForValues" value="true" />
    <add key="externalGetValuesService" value="http://www7.ncdc.noaa.gov/CUAHSIServices/CUAHSIServices" />
    <add key="requireAuthToken" value="false" />
    <add key="defaultSpatialReferenceSystemSRSID" value="4326" />
    <add key="SRSPrefix" value="EPSG:" />
    <add key="MinimalSQLDate" value="1753-01-01" />
    <add key="AdminIPAddress" value="127.0.0.1" />
    <add key="EncryptConnectionString" value="False" />
    <add key="clientIPUrl" value="http://www.ippages.com/xml/" />
    <add key="xsltName" value="xslt/WqxToWaterMl1_1.xsl" />
    <add key="ServiceXmlUrl" value="http://storetnwis.epa.gov/storetqw/Result/search?" />
    <add key="ServiceXmlFormat" value="siteid={0}&amp;characteristicName={1}&amp;startDateLo={2}&amp;startDateHi={3}&amp;organization={4}&amp;sampleMedia={5}" />
  </appSettings>
  <connectionStrings>
    <add name="ODDB" connectionString="Data Source=kyle.ucsd.edu;Initial Catalog=storet2012;User=webservice;password=webservice" providerName="System.Data.SqlClient" />
    <!-- 
  <add name="ODDB" connectionString="Data Source=disrupter.sdsc.edu;Initial Catalog=storet;User=webservice;password=webservice" providerName="System.Data.SqlClient"/>
 <add name="ODDB" connectionString="Data Source=localhost;Initial Catalog=EPACATALOG;trusted_connection=true" providerName="System.Data.SqlClient"/>
 -->
    <!--     <add name="ODDB" connectionString="Data Source=moonstone.sdsc.edu;Initial Catalog=od_1_0;User=webservice;password=webservice"
    providerName="System.Data.SqlClient" />-->
    <add name="elmah-sqlserver" connectionString="Data Source=disrupter.sdsc.edu;User ID=loggingservice;Password=l0gg1ng;Initial Catalog=ErrorLogging;" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
    <!--    <add assembly="Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
     -->   <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <!--<authentication mode="Windows" /> -->
    <authentication mode="Forms">
      <forms name=".ASPXFORMSAUTH">
        <credentials passwordFormat="Clear">
          <user name="cuahsi" password="test" />
        </credentials>
      </forms>
    </authentication>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <webServices>
      <wsdlHelpGenerator href="DefaultWsdlHelpGenerator.aspx" />
  <!--    <soapExtensionImporterTypes>
        <add type="Microsoft.Web.Services3.Description.WseExtensionImporter, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </soapExtensionImporterTypes>
      <soapServerProtocolFactory type="Microsoft.Web.Services3.WseProtocolFactory, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  -->    <protocols>
        <add name="HttpSoap" />
        <add name="HttpPost" />
        <add name="HttpGet" />
      </protocols>
    </webServices>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
 
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="logger-debug-log.txt" />
      </listeners>
    </trace>
    <switches>
      <add name="DataMessagesSwitch" value="0" />
      <add name="TraceLevelSwitch" value="0" />
    </switches>
  </system.diagnostics>
  <system.web xmlns="">
    
    
  </system.web>
  <system.webServer xmlns="">
    
    
    
  </system.webServer>


</configuration> 