
  <connectionStrings>
    <add name="ODDB" connectionString="Data Source=disrupter.sdsc.edu\;Initial Catalog=asos_catalog;User=webservice;password=webservice" providerName="System.Data.SqlClient"/>

 <!--    <add name="ODDB" connectionString="Data Source=localhost\;Initial Catalog=asos;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="ODDB" connectionString="Data Source=[SERVER];Initial Catalog=[DATABASE];User=[USER];password=[PASSWORD]"
    providerName="System.Data.SqlClient" />-->
  </connectionStrings>

